@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }


  /* Custom scrollbar class */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Smaller width for the scrollbar */
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background for the track */
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Darker grey for the handle */
  border-radius: 10px; /* Rounded scrollbar handle */
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* Thin scrollbar for Firefox */
  scrollbar-color: #888 #f1f1f1; /* Color for handle and track */
}